{% extends "base.html"%} {% block content %}
<section style="border: solid 3px tomato" class="add">
  <form style="border: solid 1px gold" action="">
    <h1>단어 등록</h1>
    <label class="search" for="searchInput" >search</label>
    <input id="searchInput" type="text" />
    <button>submit</button>
  </form>
  <div style="border: solid 1px gold" class="search-result">
    <div style="border: solid 1px darkblue" class="detail">
      <ul class="list_word">
        <li>검색결과1</li>
        <li>검색결과2</li>
        <li>검색결과3</li>
      </ul>
    </div>
    <div style="border: solid 1px darkblue" class="pagation-btns">
      <div style="border: solid 1px chocolate" class="up"><i class="bi bi-chevron-up"></i></div>
      <div style="border: solid 1px chocolate" class="page">1</div>
      <div style="border: solid 1px chocolate" class="down"><i class="bi bi-chevron-down"></i></div>
    </div>
  </div>
</section>
{%endblock%}
