.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  gap: 12px;
}
.auth-page .btns-wrapper {
  display: flex;
  gap: 12px;
}
.auth-page .btns-wrapper label {
  width: 96px;
  height: 32px;
  padding-bottom: 4px;
  position: relative;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  color: rgb(60, 60, 60);
}
.auth-page .btns-wrapper label:has(.indicator.checked) {
  color: rgb(40, 40, 120);
}
.auth-page .btns-wrapper label .indicator {
  width: 2px;
  height: 2px;
  position: absolute;
  border-radius: 20px;
  border: solid 4px transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.auth-page .btns-wrapper label .indicator.checked {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: solid 4px rgb(40, 40, 120);
}
.auth-page > input {
  display: none;
}
.auth-page > input:checked + div {
  display: flex;
}
.auth-page .login,
.auth-page .signup {
  display: none;
  width: 95%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 60%;
}
.auth-page form {
  border-radius: 30px;
  padding-top: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}
.auth-page form .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  gap: 38px;
}
.auth-page form .inputs .wrapper {
  position: relative;
}

.auth-page form .inputs .wrapper input {
  width: 260px;
  height: 28px;
  border: none;
  padding: 0 0 6px 12px;
  border-bottom: solid 2px rgb(20, 20, 60);
  font-size: 24px;
  border-radius: 0;
}
.auth-page form .inputs .wrapper label {
  font-weight: 600;
  position: absolute;
  left: 12px;
  top: 0;
  transform: translateY(50%);
  transition: all 0.2s;
  font-size: 18px;
  color: rgb(20, 20, 60);
}
.auth-page form .inputs .wrapper input:focus {
  outline: none;
}
.auth-page form .inputs .wrapper input:focus + label,
.auth-page form .inputs .wrapper input:valid + label {
  font-size: 14px;
  left: 3px;
  transform: translateY(calc(-100% - 8px));
}
.auth-page form .buttons {
  display: flex;
  height: 40px;
  gap: 20px;
}
.auth-page form .buttons .cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 120px;
  font-size: 20px;
  font-weight: 800;
  color: rgb(20, 20, 60);
  border-radius: 12px;
  border: solid 4px rgb(20, 20, 60);
  background-color: white;
}
.auth-page form .buttons .ok {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 120px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border-radius: 12px;
  border: none;
  background-color: rgb(20, 20, 60);
}
