.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main > div {
  width: 450px;
  height: 220px;
}
.main > div > .word-list {
  background-color: rgba(240, 240, 240);
  height: 160px;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}
.main > div > .word-list li {
}
.main > div > .word-list li > div {
  background-color: white;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 12px;
}
.main .favorite {
}
.main .recent {
}
.main .recap {
}

.plus-button {
  color: rgb(220, 220, 220);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: calc(50% - 200px);
  bottom: 15%;
  background-color: rgb(20, 20, 60);
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.35s;
}
.plus-button:hover {
  color: white;
  text-shadow: 0px 0px 4px white;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.6);
}
.plus-button > a > i {
  color: white;
  font-size: 28px;
}
