.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.home > div {
  width: 450px;
  height: 220px;
  overflow: hidden;
}
.home > div > .words {
  position: relative;
  background-color: rgba(240, 240, 240);
  width: 300%;
  height: 160px;
  left: -100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
}
.home > div > .words .wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.home > div > .words .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  height: 90%;
  width: 90%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  font-weight: 900;
  font-size: 60px;
  cursor: pointer;
}
.home > div > .word-list {
  background-color: rgba(240, 240, 240);
  height: 160px;
  overflow: auto;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
}
.home > div > .word-list li > .word-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
}
.home > div > .word-list li > .word-card h3 {
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .favorite {
}
.home .recent {
}
.home .recap {
}

.plus-button {
  color: rgb(220, 220, 220);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: calc(50% - 200px);
  bottom: 15%;
  background-color: rgb(20, 20, 60);
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.35s;
}
.plus-button:hover,
.plus-button:focus {
  color: white;
  text-shadow: 0px 0px 4px white;
  box-shadow: 0 0 0 3px rgb(40, 40, 120, 0.5);
  background-color: rgb(40, 40, 120);
}
.plus-button > a > i {
  color: white;
  font-size: 28px;
}
.word-viewer {
  width: 500px;
  height: 80%;
  background-color: white;
  position: fixed;
  padding-bottom: 20px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.word-viewer.slide-up {
  top: 5px;
}
.word-viewer .header-wrapper {
  position: relative;
  width: 100%;
  flex: 1;
  max-height: 90px;
}
.word-viewer .header-wrapper .header {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 40, 120);
}
.word-viewer .header-wrapper .header .back {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
}
.word-viewer .content {
  width: 95%;
  background-color: white;
  flex: 5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  gap: 36px;
}
.word-viewer .content .value {
  font-size: 144px;
  font-weight: 900;
}
.word-viewer .content .btns-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  gap: 36px;
}
.word-viewer .content .btns-wrapper > div {
  cursor: pointer;
}
.word-viewer .content .btns-wrapper .fav.checked {
  color: hotpink;
}
.word-viewer .content .btns-wrapper .complete.checked {
  color: chartreuse;
}
@media (max-width: 500px) {
  .home > div {
    width: 330px;
    height: 220px;
  }
  .plus-button {
    right: calc(50% - 150px);
  }
}
