@import url("./reset.css");
@import url("../index.css");
@import url("../auth.css");
@import url("../word/add.css");
@import url("../word/added_list.css");
@import url("../word/exam.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(20, 20, 20, 0.3);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
}
a {
  color: black;
  text-decoration: none;
}
body > .wrapper {
  overflow: hidden;
}
body {
  background-color: rgb(200, 200, 200);
}
body > .wrapper > .header {
  left: 50%;
  transform: translateX(-50%);
  height: 80px;
  width: 452px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  background-color: rgb(20, 20, 60);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
body > .wrapper > .header > * {
}
body > .wrapper > .header .logo {
  width: 160px;
  height: 40px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  transition: all 0.3s;
}
body > .wrapper > .header .logo:hover,
body > .wrapper > .header .logo:focus {
  border: solid 2px white;
  text-shadow: 0px 0px 3px white;
}
body > .wrapper > .header .logo > a {
  color: white;
  font-size: 20px;
  font-weight: 800;
}
body > .wrapper > .header .menu-toggle {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
  border: solid 2px transparent;
  transition: all 0.3s;
}
body > .wrapper > .header .menu-toggle:hover,
body > .wrapper > .header .menu-toggle:focus {
  text-shadow: 0px 0px 3px white;
  border: solid 2px white;
}
body > .wrapper > .header .menu-toggle i {
  cursor: pointer;
}

main {
  background-color: white;
  height: 150vh;
  width: 500px;
  margin: 0 auto;
  padding-top: 80px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.menu-checkbox {
  display: none;
}
.menu-checkbox:checked + .menu {
  right: calc(50% - 250px);
}
.menu {
  background-color: white;
  height: 700px;
  width: 300px;
  position: fixed;
  right: -300px;
  top: 0px;
  transition: all 0.5s;
  z-index: 3;
}
.menu .menu-header {
  display: block;
  color: white;
  font-size: 28px;
  height: 64px;
  background-color: rgb(20, 20, 60);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu .menu-header label {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  padding: 8px;
  margin-right: 12px;
  cursor: pointer;
  transition: all 0.3s;
  border: solid 2px transparent;
}
.menu .menu-header label:hover,
.menu .menu-header label:focus {
  text-shadow: 0px 0px 3px white;
  border: solid 2px white;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
}
.menu ul li {
  line-height: 36px;
  padding: 12px;
  min-width: 70%;
  margin: 0 20px;
  border-radius: 12px;
  font-size: 36px;
  font-weight: 900;
  transition: all 0.5s;
  border: solid 2px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(90, 90, 90);
}
.menu ul li:hover,
.menu ul li:focus {
  border: solid 2px black;
  color: rgb(15, 15, 15);
}
.menu ul li > a {
  color: rgb(90, 90, 90);
}
.menu ul li:hover > a,
.menu ul li:focus > a {
  color: rgb(15, 15, 15);
}
.menu ul .logout {
  cursor: pointer;
}
.modal-place {
  position: relative;
  z-index: 3;
}
@media (max-width: 500px) {
  body > .wrapper > .header {
    width: 332px;
  }
  main {
    width: 380px;
  }
  .menu-checkbox:checked + .menu {
    right: 50%;
    transform: translateX(calc(50% + 40px));
  }
} ;
