<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <title>word friend</title>
  </head>
  <body>
    <div style="border: solid 3px tomato" class="header">
      <div style="border: solid 1px greenyellow" class="logo">logo</div>
      <div style="border: solid 1px green" class="menu-toggle">hamburger</div>
    </div>
    <div style="border: solid 3px darkblue" class="main">
      main
      <div style="border: solid 1px gold" class="favorite">favorite</div>
      <div style="border: solid 1px gold" class="recent">recent</div>
      <div style="border: solid 1px gold" class="recap">recap</div>
    </div>
    <div style="border: solid 1px salmon" class="plus-button">+</div>
  </body>
</html>
