{% extends "base.html"%} {%block title%}Home{%endblock%}{% block content %}

<section class="home">
  <h1>단어장입니다</h1>
  <div class="favorite" id="favorite">
    <h2>favorite</h2>
    <div class="words not-clickable" id="favWords" data-values="{{words_for_fav}}">
      <div class="wrapper">
        <div class="cards"></div>
      </div>
      <div class="wrapper">
        <div class="cards" id="favoriteShowingCard"></div>
      </div>
      <div class="wrapper">
        <div class="cards"></div>
      </div>
    </div>
  </div>
  <div class="recent" id="recent">
    <h2>recent</h2>
    <div class="words" id="recentWords" data-values="{{words_for_recent}}">
      <div class="wrapper">
        <div class="cards"></div>
      </div>
      <div class="wrapper">
        <div class="cards cursor-grab" id="recentShowingCard"></div>
      </div>
      <div class="wrapper">
        <div class="cards"></div>
      </div>
    </div>
  </div>
  <div class="recap" id="recap">
    <h2>recap</h2>
    <div class="words" id="recapWords" data-values="{{words_for_recap}}">
      <div class="wrapper">
        <div class="cards"></div>
      </div>
      <div class="wrapper">
        <div class="cards cursor-grab" id="recapShowingCard"></div>
      </div>
      <div class="wrapper">
        <div class="cards"></div>
      </div>
    </div>
  </div>
</section>
<div class="plus-button">
  <a href="/word/add"><i class="bi bi-plus-lg"></i></a>
</div>

{%endblock%}
