{% extends "base.html"%} {% block content %}
<div style="border: solid 3px tomato" class="login">
  <form style="border: solid 1px gold">
    로그인
    <label style="border: solid 1px darkblue" for="id"
      >id <input style="border: solid 1px darkblue" id="id" type="text"
    /></label>
    <label style="border: solid 1px darkblue" for="password"
      >password <input style="border: solid 1px darkblue" id="password" type="password"
    /></label>
    <div style="border: solid 1px gold" class="buttons">
      <input type="button" value="cancel" />
      <button>ok</button>
    </div>
  </form>
</div>

{%endblock%}
