{% extends "base.html"%} {% block content %}
<section class="auth-page">
  <div class="btns-wrapper">
    <label for="loginRadio">login</label>
    <label for="signupRadio">signup</label>
  </div>
  <input type="radio" name="auth" id="loginRadio" checked />
  <div style="border: solid 3px tomato" class="login" id="login">
    <form style="border: solid 1px gold">
      로그인
      <label style="border: solid 1px darkblue" for="id"
        >id <input style="border: solid 1px darkblue" id="id" type="text"
      /></label>
      <label style="border: solid 1px darkblue" for="password"
        >password <input style="border: solid 1px darkblue" id="password" type="password"
      /></label>
      <div style="border: solid 1px gold" class="buttons">
        <input type="button" value="cancel" />
        <input type="button" value="ok" onclick="login()" />
      </div>
    </form>
  </div>
  <input type="radio" name="auth" id="signupRadio" />
  <div style="border: solid 3px tomato" class="signup" id="signup">
    <form style="border: solid 1px gold">
      회원가입
      <label style="border: solid 1px darkblue" for="id"
        >id <input style="border: solid 1px darkgray" id="id" type="text"
      /></label>
      <label style="border: solid 1px darkblue" for="password"
        >password <input style="border: solid 1px darkgray" id="password" type="password"
      /></label>
      <label style="border: solid 1px darkblue" for="confirm"
        >confirm <input style="border: solid 1px darkgray" id="confirm" type="password"
      /></label>
      <div style="border: solid 1px gold" class="buttons">
        <input type="button" value="cancel" />
        <input type="button" onclick="go_signup()" value="ok" />
      </div>
    </form>
  </div>
</section>
{%endblock%}
